<footer>
	<div class ="container-fluid">
		<div class="row">
			<div class="col-md-5 justify-content-start">
				<p>Copyright &copy; 2021 Site name here</p>
			</div>
			<div class="col-md-6 justify-content-start">
				<a href="#" class="text-dark">Terms of Use</a> 
				<span class="text-muted mx-2">|</span> 
				<a href="#" class="text-dark">Privacy Policy</a>
				<span class="text-muted mx-2">|</span> 
				<a href="#" class="text-dark">Contact Us</a>
			</div>
			<div class="col-md-1 justify-content-end"> 
				<a href="https://github.com/Austintigerlu/depop-project2" class="text-dark">Github</a>
			</div>
		</div>
	</div>
</footer>