<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="container-fluid"> 
        <div class="row align-items-center h-100">
            <div class="col-sm-12 col-md-1 justify-content-end"></div>
            <div class="col-sm-12 col-md-3 justify-content-end">
                <h2>Brand Statement</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a href="/products" target="_blank" class="btn btn-success">Start Shopping &raquo;</a>
            </div>
            <div class = "col-sm-12 col-md-7 justify-content-end">
                <img class="img-fluid" src="https://hips.hearstapps.com/esq.h-cdn.co/assets/16/31/1470404891-aime-leon-dore-esq-index.jpg">
            </div>
        </div>
    </div>
        <!-- <div> -->
            <!-- <div class="homeModel"> <img src="https://images.pexels.com/photos/6627106/pexels-photo-6627106.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Man with a jacket"> </div> -->
            <!-- <div class="homeModel"> <img src="https://www.freeiconspng.com/uploads/female-model-png-model-png4-by-icekitz-3.png" alt="Man with a jacket"> </div> -->
            <!-- <div class="homeModel"> <img src="https://images.pexels.com/photos/852860/pexels-photo-852860.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"> </div> -->
        <!-- </div> -->
    <hr>
        <div class="container-fluid">
            <div class="row align-items-center h-100">
                <div class = 'col-sm-12 col-md-4'><h4 class="text-center">Men's</h4><a href="/products/mensware"><img class="img-thumbnail" src="https://d1jsygvae9sbou.cloudfront.net/images/origin/medium_2_3222cb71ed.jpg" alt="Clothes A"></a>
                </div>
                <div class = 'col-sm-12 col-md-4'><h4 class="text-center">Women's</h4><a href="/products/womensware"><img class="img-thumbnail" src="https://i.pinimg.com/736x/5a/ae/f2/5aaef2c17e97c1d159a8fc92274dfbe5.jpg" alt="Clothes B"></a>
                </div>
                <div class = 'col-sm-12 col-md-4'><h4 class="text-center">Shoes</h4><img class="img-thumbnail" src="https://i.pinimg.com/736x/5c/62/9f/5c629f4c330252decbd396f6ebb2f2e3.jpg" alt="Clothes C">
                </div> 
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>
</html>

