<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="../homePage.css">
<body>

    <%- include('partials/nav.ejs') %>
    <div class="container-fluid" id="flexscr"> 
        <div class="row align-items-center h-100">
            <div class="col-sm-12 col-md-4 justify-content-end">
                <h2>Welcome</h2>
                <p>The one-stop destination for buying, selling, and exploring fashion.</p>
                <a href="/products" target="_blank" class="btn btn-secondary">Start Shopping &raquo;</a>
            </div>
            <div class = "col-sm-12 col-md-8 justify-content-end">
                <img class="img-fluid" src="https://process.fs.grailed.com/qGiFggzVTfWzhrDNRN5Q" alt="Brand Image">
            </div>
        </div>
    </div>
<hr>
    <div class="container-fluid">
        <h3>Shop By Category:</h3>
        <hr>
            <br>
            <div class="row align-items-center h-100">
                <div class = 'col-sm-12 col-md-3'><h4 class="text-center">Men's Tops</h4><a href="/products/mensware/tops"><img id="homeClothes" class="img-thumbnail" src="https://freight.cargo.site/t/original/i/f5866d7d787319a9a54c8f7d57e64986cf7aa99693dd4bcc33b2a3ae814bbbc4/AIME_LEON_DORE_DAY_1-0157.jpg" alt="Clothes A"></a>
                </div>
                <div class = 'col-sm-12 col-md-3'><h4 class="text-center">Men's Bottoms</h4><a href="/products/mensware/bottoms"><img id="homeClothes" class="img-thumbnail" src="https://d1jsygvae9sbou.cloudfront.net/images/origin/medium_25_ffab04f32d.jpg" alt="Clothes B"></a>
                </div>
                <div class = 'col-sm-12 col-md-3'><h4 class="text-center">Women's Tops</h4><a href="/products/womensware/tops"><img id="homeClothes" class="img-thumbnail" src="https://i.pinimg.com/736x/5a/ae/f2/5aaef2c17e97c1d159a8fc92274dfbe5.jpg" alt="Clothes C"></a>
                </div>
                <div class = 'col-sm-12 col-md-3'><h4 class="text-center">Women's Bottoms</h4><a href="/products/womensware/bottoms"><img id="homeClothes" class="img-thumbnail" src="https://freight.cargo.site/t/original/i/123a827740f62c7d2ed3f98f4787cbd2d7c2b85cc36dd1a5b196bc4bb1dfc555/AIME_LEON_DORE_DAY_25775.jpg" alt="Clothes C"></a>
            </div> 
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>
</html>
