<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head.ejs') %>
	<script src="/scripts/dommanip.js" defer></script>
<body>
	<%- include('partials/nav.ejs') %>
	<h1>New Product</h1>
	<form method="POST" action="/products" id="newProduct">
		<div class = container-fluid>
			<div class = 'row'>
				<div class = 'col-sm-12 col-md-12'>
					<label>Name:</label>  <input type="text" name="name" />
				</div>
				<div class = 'col-sm-12 col-md-12'>
					<label>Image (URL):</label>
					<input class = 'url' type="url" name="image"/>
				</div>
				<div name="size" class = 'col-sm-12 col-md-12'>
					<label>Size:</label>
					<select name="size" form="newProduct" id="size">
						<option value ="XS">XS</option>
						<option value ="S">S</option>
						<option value ="M">M</option>
						<option value ="L">L</option>
						<option value ="XL">XL</option>
					</select>
				</div>
				<div class = 'col-sm-12 col-md-12'>
					<label>Price: $</label>
					<input type="number" name="price" min="0"></input>
				</div>
				<div class = 'col-sm-12 col-md-12'>
					<label>Condition:</label>
					<select name="condition" form="newProduct" id="condition">
						<option value ="New">New</option>
						<option value ="Used">Used</option>
					</select>
				</div>
				<div class = 'col-sm-12 col-md-12'>
					<label>Description:</label><br />
					<textarea name="description" type="text" rows="4" cols="50">
					</textarea>
				</div>
				<div class = 'col-sm-12 col-md-12'>
					<label>Category:</label>
					<select name="category" form="newProduct" id="category">
						<option value ="Tops">Tops</option>
						<option value ="Bottoms">Bottoms</option>
					</select>
				</div>
				<div class = 'col-sm-12 col-md-12'>
					<label>Department:</label>
					<select name="department" form="newProduct" id="department">
						<option value ="Mens">Mens</option>
						<option value ="Womens">Womens</option>
					</select>
				</div>
				<div>
					<input name="user" id="user" type="hidden" value="<%=user.id%>"/>
				</div>
				<div class = 'col-sm-12 col-md-12'>
					<input type="submit" value="Submit"/>
				</div>
			</div>
		</div>
	</form>
</body>
	<%- include('partials/footer.ejs') %>
</html>