footer {
    background-color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
  }

body{
	background-color: white;
    font-family: 'PT Serif', serif;
    padding-top: 150px;
    padding-bottom: 50px;
}

h1{
    text-align: center;
}