body{
	background-color: white;
}

#pics{
	display: inline;
	align-items: center;
	padding: 0px 10px;
}

#prices{
	transform: translateY(-20px);
	padding: 0px;
	margin-top: 0px;
	border-top: 0px;
}

#price1{
	width: 220px;
	padding: 0px;
}