<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
  <section class="layout2">
    <div class="header">1</div>
    <div class="leftSide">2</div>
    <div class="body">
      <div class ="emptyCart">
        <h2>Empty Cart</h2>
      </div>
    </div>
    <div class="rightSide">Total</div>
      <div class ="cartTotal">
        <h2>Total</h2>
      </div>
    <div class="footer">5</div>
  </section>
</body>
<%- include('partials/footer.ejs') %>
</html>