<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
<body>
  <div class="cartContainer">
    <div class=”header”>
        <h2 class=”heading”>Shopping Cart</h2>
        <h5 class=”action”>Remove all</h5>
    </div>
    <div class=”Cart-Items”>
      <div class=”image-box”>
          <img src=”_________” >
      </div>
      <div class=”about”>
          <h2 class=”title”>Item Name</h2>
          <img src=”___________”>
      </div>
      </div>
      <div class=”counter”></div>
      <div class=”prices”></div>
      </div>
  </div>
</body>


</html>